.center-container {
    display: grid;
    place-items: center;
}

.receptive{
    font-size: 1.8rem;
    color: #1A618A;
    font-weight: 500;
}

.home-h1 h1 {
    font-size: 1rem;
    color: #1A618A;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 3rem;
}

.menu-botao {
    height: 200px;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #94B3B7;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.menu-botao:hover {
    cursor: pointer;
    background-color: #90bec2;
}

@media screen and (max-width: 1024px) {
    .menu-box {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .center-container {
        place-items: normal;
        padding: 0 2rem;
    }
}