.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group__label {
  margin-bottom: 0.5rem;
}

.form-group--invalid input {
  border-color: red;
}

.form-group--invalid label {
  color: red;
}
