.logo-nome {
    width: 10rem;
    height: 10rem;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .div-login {
    margin-left: 0.5rem;
    padding: 3rem;
    max-width: 25rem;
    display: grid;
    place-items: center;
    background-color: #D1D0D2;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .data-input {
    width: 15em;
    height: 2em;
    border: 0.1em solid #CFC6C5;
    border-radius: 0.5em;
  }
  
  .data-input:focus {
    outline-color: #6F9CB5;
  }
  
  .div-login label {
    justify-self: left;
  }
  
  .div-login a {
    text-decoration: none;
    padding-bottom: 2rem;
    font-size: 0.8rem;
    color: #477C9E;
    justify-self: right;
  }
  
  .div-login a:hover {
    color: #69a0c2;
  }