.center-container {
    display: grid;
    place-items: center;
}

.visita-h1 h1 {
    padding-top: 7rem;
    font-size: 1.2rem;
    color: #1A618A;
}

.container-agendamento {
    border: 1px solid #5E8D93;
    margin-top: 2rem;
    border-radius: 30px;
    width: 30rem;
    height: 22rem;
}

.div-agendamento {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.div-agendamento input {
    height: 1.5rem;
    border-radius: 5px;
    border: 0.1rem;
    background-color: #d6dbdb;
    color: #194f6d;
    font-weight: 500;
}

.container-tipo-visita {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown .btn {
    width: 15rem;
    padding: 0.5rem;
    background-color: #d6dbdb ;
    border: 0.1rem solid #5E8D93;
    border-radius: 5px;
    color: #194f6d;
    font-weight: 500;
    transition: all 0.2s;
}

.dropdown .btn:hover,
.dropdown .btn:first-child:active,
.dropdown .btn:first-child.active {
    background-color: #5E8D93;
    border-color: #5E8D93;
}

.dropdown .dropdown-menu {
    width: 100%;
}

.dropdown .dropdown-item {
    font-size: 1rem;
}

.dropdown .dropdown-item.active,
.dropdown .dropdown-item:active {
    background-color: #5E8D93;
}

.select-tipo {
    margin-bottom: 1rem;
}

.campo-observacoes {
    resize: none;
    width: 15rem;
    border-radius: 5px;
    border: transparent;
    background-color: #ecf1f1;
}

.form-label {
    width: 100%
}

.form-input {
    padding: 1rem;
}

.comments {
    margin-top: 1rem;
}

.comments textarea {
    width: 100%;
}

.botao-cadastro {
    width: 10rem;
    height: 2rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #DFE8E9;
    box-shadow: 5px 5px 5px #AFB3B5;
  }
  
  .botao-cadastro:hover {
    background-color: #ebf6f7;
    cursor: pointer;
  }
