* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App h1 {
  padding-top: 50px;
  font-size: 20px;
  color: #444343;
}

.botao {
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #A7D9DC;
  box-shadow: 5px 5px 5px #BBC4C5;
}

.botao:hover {
  background-color: #cbeff1;
  cursor: pointer;
}

.App p {
  padding-top: 30px;
  font-size: 12px;
  color: #444343;
}

.App a {
  text-decoration: none;
  font-size: 12px;
  color: #6F9CB5;
}

.Logo-nome {
  width: 15%;
  height: 10%;
}

.div-login {
  margin-left: 35%;
  padding: 30px;
  width: 350px;
  height: fit-content;
  background-color: #BBC4C5;
  border-radius: 5px;
}

.div-login label {
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
