* {
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 60rem;
  display: grid;
  place-items: center;
}

.index-logo {
  height: 40vmin;
  pointer-events: none;
}

.index-container {
  padding-top: 30;
}

@keyframes index-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container h1 {
  padding-top: 4rem;
  font-size: 1rem;
  color: #444343;
}

.botao {
  width: 10rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #A7D9DC;
  box-shadow: 5px 5px 5px #AFB3B5;
}

.botao:hover {
  background-color: #cbeff1;
  cursor: pointer;
}

.main-container p {
  padding-top: 3rem;
  font-size: 0.8rem;
  color: #444343;
}

.bottom-div {
  text-align: center;
}

.bottom-div a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #6F9CB5;
}

.bottom-div a:hover {
  color: #96c1d8;
}

.logo-nome {
  width: 10rem;
  height: 10rem;
}

.div-login {
  margin-left: 0.5rem;
  padding: 3rem;
  max-width: 25rem;
  display: grid;
  place-items: center;
  background-color: #D1D0D2;
  border-radius: 5px;
}

.data-input {
  width: 15em;
  height: 2em;
  border: 0.1em solid #CFC6C5;
  border-radius: 0.5em;
}

.div-login label {
  justify-self: left;
}

.div-login a {
  text-decoration: none;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  color: #477C9E;
  justify-self: right;
}

.div-login a:hover {
  color: #69a0c2;
}

.header-img {
  position: fixed;
  left: -50%;
  top: 0;
  width: 150%;
  height: 2rem;
}

.footer-img {
  position: fixed;
  left: -50%;
  bottom: 0;
  width: 150%;
  height: 2rem;
}

.form-cadastro {
  display: grid;
  margin-top: 50%;
  flex: 1;
  padding-top: 10%;
}

.form-cadastro h1 {
  padding-top: 0.5em;
  font-size: 1rem;
  color: #1A618A;
}
.form-cadastro p {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.7rem;
  color: #1A618A;
  font-weight: 600;
}

.form-data-input {
  margin-bottom: 1rem;
  width: 23em;
  height: 2em;
  border: 0.1em solid #CFC6C5;
  border-radius: 0.5em;
}

.form-data-input::placeholder {
  color: #1A618A;
  font-weight: 500;
}

.div-phone-nasc {
  display: flex;
}

.div-phone-nasc input {
  border: 0.1em solid #CFC6C5;
  width: 10.7em;
  border-radius: 0.5em;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.div-phone-nasc input::placeholder {
  color: #1A618A;
  font-weight: 500;
}

.div-botao {
  display: grid;
  place-items: center;
}

.botao-cadastro {
  width: 10rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #DFE8E9;
  box-shadow: 5px 5px 5px #AFB3B5;
}

.botao-cadastro:hover {
  background-color: #ebf6f7;
  cursor: pointer;
}