* {
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 60rem;
  display: grid;
  place-items: center;
}

.index-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes index-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container h1 {
  padding-top: 4rem;
  font-size: 1rem;
  color: #444343;
}

.botao {
  width: 10rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #A7D9DC;
  box-shadow: 5px 5px 5px #AFB3B5;
}

.botao:hover {
  background-color: #cbeff1;
  cursor: pointer;
}

.main-container p {
  padding-top: 3rem;
  font-size: 0.8rem;
  color: #444343;
}

.bottom-div {
  text-align: center;
}

.bottom-div a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #6F9CB5;
}

.bottom-div a:hover {
  color: #96c1d8;
}

.logo-nome {
  width: 10rem;
  height: 10rem;
}

.div-login {
  margin-left: 0.5rem;
  padding: 3rem;
  max-width: 25rem;
  display: grid;
  place-items: center;
  background-color: #D1D0D2;
  border-radius: 5px;
}

.data-input {
  width: 15em;
  height: 2em;
  border: 0.2em solid #CFC6C5;
  border-radius: 0.5em;
}

.div-login label {
  justify-self: left;
}

.div-login a {
  text-decoration: none;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  color: #477C9E;
  justify-self: right;
}

.div-login a:hover {
  color: #69a0c2;
}

.header-img {
  width: 150%;
  height: 2rem;
}

.footer-img {
  margin-top: 4rem;
  width: 150%;
  height: 2rem;
}