* {
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 60rem;
  display: grid;
  place-items: center;
}

.main-container h1 {
  padding-top: 4rem;
  font-size: 1rem;
  color: #444343;
}

.main-container p {
  padding-top: 3rem;
  font-size: 0.8rem;
  color: #444343;
}

.bottom-div {
  text-align: center;
}

.bottom-div a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #6F9CB5;
}

.bottom-div a:hover {
  color: #96c1d8;
}

.header-img {
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 2rem;
}

.footer-img {
  position: fixed;
  left: -50%;
  bottom: 0;
  width: 150%;
  height: 2rem;
}

.logo-img {
  width: 8rem;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.botao-voltar {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 90%;
  right: 85%;
}

.botao-logout {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15%;
  right: 0%;

}

.botao-voltar, .botao-logout:hover {
  cursor: pointer;
}