@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(246,246,246);
    background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(224,232,231,1) 100%);
}