* {
    font-family: 'Roboto';
}

body {
    display: grid;
    min-height: 100vh;
    background: rgb(181,198,197);
    background: linear-gradient(90deg, rgba(181,198,197,1) 25%, rgba(195,221,219,1) 100%);
}